{% extends "layout.html" %}

{% block title %}
    Location Lookup
{% endblock %}

{% block main %}
<!-- Button to show the popout of locations -->
<button style="position: fixed; height:50px; width: auto; z-index: 2; transform: rotate(0.25turn); left:-2.5pc; top: 50vh" type="button" aria-expanded="false" aria-controls="my-locations">
    My Locations
</button>
<!-- View your locatoin list and delete any -->
<div id="my-locations" style="position: fixed;">
    <div  style="width: 80vw">
        <h2>Add Location</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for location in locations %}
                <tr>
                    <td >{{ location.name }}</td>
                    <td>{{ location.address }}</td>
                    <td>
                        <form method="POST" action="/delete">
                            <input name="loc-name" type="hidden" value="{{ location.name }}">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            <!-- add a new location to your list -->
                <tr>
                    <th scope="row">Add Location</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <form method="POST" id="new-loc" action="/locations">
                            <input type="text" name="new-loc-name" placeholder="New location name">
                        </form>     
                    </td>
                    <td>
                        <input form="new-loc" type="text" name="new-loc-adr" placeholder="New Address" id="autocomplete" required>
                    </td>
                    <td>
                        <button form="new-loc" type="submit">Save</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div >
        <!-- Search Bar -->
        <div>
            <h1 >Quick Search</h1>
            <section>
                <form method="post" action="">
                    <input name="key" type="text" placeholder="key location" required>
                    <button type="submit">Search</button>
                </form>
            </section>
        </div>
        <!-- Search Results -->
        {% if search == "search" %}
        <div >
            <h1>Travel Times to your locations</h1>
            <table >
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Distance</th>
                        <th>Drive Time</th> 
                    </tr>
                </thead>
                <tbody>

                    {% for trip in output %}
                    <tr> 
                        <th scope="row">{{ trip.name }}</th>
                        <td>{{ trip.distance }}</td>
                        <td>{{ trip.time }}</td>
                    </tr>
            
                    {% endfor%}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
</div>

<script src='../static/locations.js'></script>
<script 
    src="http://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&libraries=places&callback=initAutocomplete">
</script>

{% endblock %}