{% extends "layout.html" %}

{% block title %}
    Location Lookup
{% endblock %}

{% block main %}
<div class="container">
    <h1>Quick Search</h1>
    <p>
        <ol>
            <li><a href="/locations">set up some lookup locations that you are interested in</a></li>
            <li>enter a key location below</li>
            <li>find out how long it takes to get from your key to each of your lookups</li>
        </ol>
    </p>
    <section>
        <form method="post" action="">

            <input name="key" type="text" placeholder="key location" required>

            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </section>
</div>

{% endblock %}