{% extends "layout.html" %}

{% block title %}
    Location Lookup
{% endblock %}
Location Lookup helps you find your way from the places you care about, to the place you call home

{% block main %}
<div>

    <div>
      <div>
        <h1 >Location Lookup</h1>
        <p>Find out how long it takes to get from the places you care about, to a place that you might call home.</p>
        <a href="/homepage">Get Started</a>
      </div>
    </div>

    <div >
      <div >
        <div >
          <h2>How does it work?</h2>
          <p>You save the addresses of the places that matter to you, so you can quickly search travel times to all of them in one go, via car, bike, and public transport.</p>
        </div>
      </div>
      <div >
        <div >
          <h2>Who is it for?</h2>
          <p>We've designed Location Lookup for house-hunters, to help you decide if the house that you're considering, is where you need it to be.</p>
        </div>
      </div>
    </div>

    <footer >
      © 2021
    </footer>
  </div>
{% endblock %}