<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <title>{% block title %}{% endblock %}</title>
        {% block headfile %}
        {% endblock %}

    </head>
    <body>
        <nav style="z-index: 1;">
            <div >
              <a href="/">LOCATION LOOKUP</a>
              <div id="navbarNav">
                <ul>
                  <li>
                    <a href="/locations">My Locations</a>
                  </li>
                  <li>
                    <a href="/admin/logout">Log Out</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <main>
        {% block main %}

        {% endblock %}
        </main>
    </body>